/* header */
* {
    cursor: default;
}
#header {
    margin-bottom: 90px;
}
#header h1 {}
#header p {
    margin-top: -20px;
}
#header .nav ul li {
    list-style: none;
    position: fixed;
    right: 18px;
}
#header .nav ul li a {
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
    font-weight: 600;
}
#header .nav ul li a:hover {
    text-decoration: underline;
}

/* main */
#container {
    height: 100%;
}
.main {}
.main .work { 
    text-align: center;
    margin-bottom: 50px;
}
.main .work h3 {}
.main .work p {
    margin-top: -10px;
    margin-bottom: 20px;
}

.main .w1 {}
.main .w2 {}
.main .w3 {}
.main .w4 {}
.main .w5 {}

.main .feature {}
.main .goal {}
.main .promise {}

/* footer */
#footer p { 
    font-weight: 600;
    text-align: right;
}