* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
  background-color: beige;
}

.slideShow {
  width: 420px;
  height: 470px;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  overflow: hidden;
}
#slideShow {
  transition: left 0.5s ease-out;
  width: 700px;
  height: 500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
}

.slides {
  position: absolute;
  left: 0px;
  top: 0;
  width: 3500px;
  transition: left 0.5s ease-out;
}

.slides li {
  line-height: 1.6;
}

.slides li:nth-child(1) {
  background: url();
  height: 300px;
  width: 300px;
  padding-top: 80px;
}
.slides li:nth-child(2) {
  background: url();
  height: 300px;
  width: 300px;
  margin-bottom: 50px;
}
.slides li:nth-child(3) {
  background: url();
  width: 300px;
  height: 300px;
  padding-top: 80px;
}
.slides li:nth-child(4) {
  background: url();
  width: 300px;
  height: 300px;
  padding-top: 20px;
}
.table {
  border: 2px solid #111;
  border-radius: 10px;
  margin-left: 13px;
  padding: 5px;
  margin-top: 16px;
  margin-left: -50px;
  width: 400px;
}
.table th {
  padding: 3px;
}
.table td {
  padding: 3px;
}

.name {
  width: 70px;
}

.slides li:first-child {
  margin-left: 50px;
  margin-right: 135px;
}

.slides li:not(:last-child) {
  float: left;
  margin-right: 100px;
}
.slides li:last-child {
  float: left;
  margin-left: 10px;
}

.slides li {
  float: left;
}

.controller span {
  position: absolute;
  background-color: transparent;
  color: black;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  font-size: 2.3em;
  font-weight: bold;
  cursor: pointer;
}

.controller span:hover {
  background-color: rgba(128, 128, 128, 0.11);
}

.prev {
  left: -50px;
}

.prev:hover {
  transform: translateX(-10px);
}

.next {
  right: -30px;
}

.next:hover {
  transform: translateX(10px);
}

.mtxt {
  margin: 0 auto;

  width: 350px;
}

.mtxt > h3 {
  text-align: center;
  line-height: 1.7;
}

.mtxt > p {
  text-align: center;
  line-height: 1.5;
}

.mtxt2 {
  margin-left: -60px;
  margin-top: -5px;
  width: 355px;
}

.mtxt2 > h3 {
  text-align: center;
  line-height: 1.7;
}

.mtxt2 > p {
  text-align: center;
  line-height: 1.5;
}

.mtxt3 > h3 {
  text-align: center;
  line-height: 1.7;
}

.mtxt3 > p {
  text-align: center;
  line-height: 1.5;
}

.mtxt4 > h3 {
  text-align: center;
  line-height: 1.7;
}

.mtxt4 > p {
  text-align: center;
  line-height: 1.5;
}
