/* header */
* {
    cursor: default;
}
#header {
    margin-bottom: 90px;
    text-align: center;
}
#header h1 {}
#header p {
    margin-top: -20px;
}
#header .nav ul li {
    list-style: none;
    position: fixed;
    right: 18px;
}
#header .nav ul li a {
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
    font-weight: 600;
}
#header .nav ul li a:hover {
    text-decoration: underline;
}

/* main */
#container {
    height: 100%;
}
.main {
    text-align: center;
    line-height: 1.7;
}
.main .go  {
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 25px;
    transition: 0.3s;
}
.main .go.hover {
    background: #333;
    color: #fff;
}
.top { 
    display: flex;
    margin: 10px;
}
.bottom {
    display: flex;
    margin: 10px;
}
.topDiv{
    width: 100%;
    height: 200px;
    background: #f0f0f0;
    border: 1px solid #333;
    box-sizing: border-box;
}
.bottomDiv{
    width: 100%;
    height: 200px;
    background: #e0e0e0;
    border: 1px solid #333;
    box-sizing: border-box;
}

.main .feature {}
.main .goal {}
.main .promise {}

/* footer */
#footer {
    position: fixed;
    bottom: 0;
    right: 20px;
}
#footer p { 
    font-weight: 600;
    text-align: right;
}


/* sidebar */
.btnBox {
    position: fixed;
    right: 0;
}
.btnBox .button {}



/* =============================================== */
/* sub page */
.main .intro {
    border: 1px solid #333;
    box-sizing: border-box;
    width: 500px;
    margin: 0 auto;
}


@media screen and (max-width: 1024px;)  {
    
}