* {
    cursor: default;
}
a, button {
    cursor: pointer;
    color: #333;
}
a.hover {
    font-weight: 600;
}

/* header */
#header {
    margin-bottom: 70px;
    text-align: center;
    margin-left: 50px;
}
#header h1 {}
#header p {
    margin-top: -20px;
}
#header .nav ul li {
    list-style: none;
    position: fixed;
    right: 18px;
}
#header .nav ul li a {
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
    font-weight: 600;
}
#header .nav ul li a:hover {
    text-decoration: underline;
}

/* mainVisual */
#mainVisual {}
#mainVisual .visuBox {
    border: 1px solid #222;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}
#mainVisual .visuBox img {}
#mainVisual .visuBox .visu {}
#mainVisual .visuBox .visu li {}

/* main */
#container {
    height: 100%;
}
.main {
    text-align: center;
    line-height: 1.7;
}
.card {
    box-sizing: border-box;
    border: 1px solid #111;
    border-radius: 10px;
    width: 300px; height: 450px;
}
.top {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.bottom {
    display: flex;
    justify-content: center;
}
.top .c1 {
    margin-right: 20px;
}
.top .c1 .card-text {
    margin-top: -20px;
}
.top .c2 {
    margin-right: 20px;
}
.bottom .c4 {
    margin-right: 20px;
}
.top .card .card-img-top {
    width: 200px;
    height: 200px;
    margin-top: 15px;
}
.bottom .card .card-img-top {
    width: 200px;
    height: 200px;
    margin-top: 15px;
}
.top .card .img .card-body {}
.top .card .card-title {}
.bottom .card .card-body .card-text {}
.bottom .card .card-body .btn-primary {
    color: #333;
}



/* footer */
#footer {
    position: fixed;
    bottom: 0;
    right: 20px;
}
#footer p { 
    font-weight: 600;
    text-align: right;
    font-size: 13px;
}


/* sidebar */
.sideBar {
    position: fixed;
    right: 10px;
    top: 400px;
}
.sideBar ul {
    list-style: none;
}
.sideBar ul li {
    border: 1px solid #333;
    border-radius: 6px;
    margin-bottom: 5px;
    transition: 0.5s;
    cursor: pointer;
    padding: 5px;
}
.sideBar ul li:last-child {
    margin-bottom: 0;
}
.sideBar ul li a {
    text-decoration: none;
    line-height: 1.7;
    font-weight: 200;
    transition: 0.5s;
    font-size: 13px;
}
.sideBar ul li:hover a {
    border-radius: 6px;
    font-weight: 600;
    background: #333;
    color: #fff;
    padding: 2px;
}


/* =============================================== */
@media (max-width: 1144px) {
    .sideBar {
       display: none;
    }
}