@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100;500&display=swap");

/* reset.css */
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  padding: 2rem 0 0 6.75rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--normal-font-size);
  transition: 0.5s;
  cursor: default;
}
:root {
  --nav--width: 92px;

  /* Colores */
  --first-color: #0c5df4;
  --bg-color: #12192c;
  --sub-color: #b6cefc;
  --white-color: #fff;

  /* Fuente y tipografia */
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;

  /* z index */
  --z-fixed: 100;
}

h1 {
  margin: 0;
  margin-left: 20px;
}

.slogan {
  white-space: nowrap;
  border-bottom: 2px solid black;
}
.rule {
  white-space: nowrap;
  margin-top: 10px;
}
.rule2 {
  margin-top: 10px;
}
.forest {
  margin-top: 20px;
}

.sub_rule {
  font-size: 12px;
  white-space: nowrap;
}
.goal {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 600;
  border: 2px solid #12192c;
}
.goal_sub {
  text-align: center;
}
.will {
  text-align: center;
}

.name {
  white-space: nowrap;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a,
button {
  color: #222;
  cursor: pointer;
  text-decoration: none;
}
a.hover {
  font-weight: 600;
}

/* ============================================ */

/* main part */
#container {
  height: 100%;
}
.main {
  text-align: center;
  line-height: 1.7;
  margin-top: 65px;
}
.card {
  flex-direction: row;
  border: 2px solid #111;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.card div:hover:not(.card-body) {
  scale: 110%;
}
.card a {
  cursor: pointer;
  text-decoration: none;
  color: #222;
}
.top {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.bottom {
  display: flex;
  justify-content: center;
}
.top .c1 {
  margin-right: 20px;
}
.top .c2 {
  margin-right: 20px;
}
.bottom .c4 {
  margin-right: 20px;
}
.top .card .card-img-top {
  width: 200px;
  height: 200px;
  margin-top: 15px;
}
.bottom .card .card-img-top {
  width: 200px;
  height: 200px;
  margin-top: 15px;
  cursor: pointer;
}
.top .card .card-title {
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 17px;
}
.top .card .card-body .card-text {
  font-size: 16px;
}
.bottom .card .card-title {
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 17px;
}
.bottom .card .card-body .card-text {
  font-size: 16px;
}

/* ============================================== */

/* footer */
#footer {
  height: 100px;
}
#footer p {
  font-weight: 600;
  text-align: right;
  font-size: 13px;
  padding-top: 68px;
  padding-right: 10px;
}

/* =============================================== */
