.mainweather {
  margin-top: -30px;
}
.maintxt {
  padding: 20px;
  color: #000;
  height: 150px;
  width: 400px;
  float: right;
}
.detailinf {
  float: right;
  margin: -5px 0px 0px 60px;
  font-size: 11pt;
  margin-top: -140px;
}
.temp_min {
  float: right;
}
.temp_max {
  float: right;
}
.humidity {
  float: right;
}
.wind {
  float: right;
}
.middle_inf {
  float: right;
  margin-top: -40px;
}
.current_temp {
  font-size: 50pt;
  margin-right: 120px;
  margin-top: -130px;
}
.weather_description {
  font-size: 20pt;
  margin-top: -20px;
  margin-left: 3px;
}
.city {
  font-size: 13pt;
  margin-left: 5px;
}
