<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/application.css') }}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>application for nivea</title>
  </head>

  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/nav.css') }}" />
  <body>
    <header id="header">
      <!-- sideNav start -->
      <div class="l-navbar" id="navbar">
        <nav class="nav">
          <div>
            <div class="nav__brand">
              <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
              <a href="/" class="nav__logo">Team.Nivea</a>
            </div>
            <div class="nav__list">
              <a href="/" class="nav__link">
                <ion-icon name="home-outline"></ion-icon>
                <span class="nav_name">&nbsp;Home</span>
              </a>
              <a href="https://github.com/tuy112/nivea-Team" class="nav__link githublink">
                <ion-icon name="logo-instagram"></ion-icon>
                <span class="nav_name">&nbsp;Contact Us</span>
              </a>
              <a href="../comment" class="nav__link">
                <ion-icon name="logo-octocat"></ion-icon>
                <span class="nav_name">&nbsp;Cheer UP</span>
              </a>

              <a href="../sendEmail" class="nav__link">
                <ion-icon name="airplane-sharp"></ion-icon>
                <span class="nav_name">&nbsp;Send Email</span>
              </a>

              <a href="../application" class="nav__link active">
                <ion-icon name="heart-outline"></ion-icon>
                <span class="nav_name">&nbsp;Nivea에 합류하기</span>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <input id="check-btn" type="checkbox" />
      <label style="cursor: pointer" for="check-btn">Team.Nivea에 합류하고 싶다면?<a href="/templates/application.html">🙆‍♂️</a></label>
      <p>▲ Click Here ▲</p>
      <ul class="menubars">
        <form id="login-form">
          이름:
          <input id="name" type="text" placeholder="이름을 입력하세요" />

          메일:<input id="email" type="email" placeholder=" Email을 입력하세요" /> 깃허브:<input id="github" type="url" placeholder="깃허브 주소를 입력하세요" /> 장점:<input id="str" type="text" placeholder="나의 장점을 간단히 작성해주세요" />
          <input id="submit" type="submit" class="w-btn w-btn-indigo" value="제출하기" />
        </form>
      </ul>
    </div>

    <script src="{{ url_for('static', filename='/js/application.js') }}" defer></script>
    <script src="{{ url_for('static', filename='/js/navBar.js') }}" defer></script>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  </body>
</html>
