<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title>니베아 소개페이지 - 방명록</title>
    <meta property="og:title" content="내 사이트의 제목" />
    <meta property="og:description" content="보고 있는 페이지의 내용 요약" />
    <meta property="og:image" content="이미지URL" />

    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/nav.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/comment.css') }}" />
  </head>
  <body>
    <header id="header">
      <!-- sideNav start -->
      <div class="l-navbar" id="navbar">
        <nav class="nav">
          <div>
            <div class="nav__brand">
              <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
              <a href="/" class="nav__logo">Team.Nivea</a>
            </div>
            <div class="nav__list">
              <a href="/" class="nav__link">
                <ion-icon name="home-outline"></ion-icon>
                <span class="nav_name">&nbsp;Home</span>
              </a>
              <a href="https://github.com/tuy112/nivea-Team" class="nav__link githublink">
                <ion-icon name="logo-instagram"></ion-icon>
                <span class="nav_name">&nbsp;Contact Us</span>
              </a>
              <a href="../comment" class="nav__link active">
                <ion-icon name="logo-octocat"></ion-icon>
                <span class="nav_name">&nbsp;Cheer UP</span>
              </a>

              <a href="../sendEmail" class="nav__link">
                <ion-icon name="airplane-sharp"></ion-icon>
                <span class="nav_name">&nbsp;Send Email</span>
              </a>

              <a href="../application" class="nav__link">
                <ion-icon name="heart-outline"></ion-icon>
                <span class="nav_name">&nbsp;Nivea에 합류하기</span>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="bodybody" style="margin-left: -17px; margin-top: -32px">
      <div class="mypic">
        <h6>You are on fire!✨</h6>
        <h1>🔥응원의 한마디👀🔥</h1>
        <div id="weather">
          <span></span>
          <span></span>
        </div>

        <p>현재기온: <span id="temp">36</span>도</p>
      </div>

      <div class="mypost">
        <div class="input-group">
          <input required id="group" placeholder="-팀명을 입력하세요-" type="text" />
          <input required id="name" placeholder="-이름을 입력하세요-" type="text" min="2" />
        </div>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="comment" style="height: 100px"></textarea>
          <label for="floatingTextarea2">응원의 한마디🎉</label>
        </div>
        <div class="button_box">
          <button id="comment_save" onclick="save_comment()" type="button" class="btn btn-dark">댓글 남기기📝</button>
        </div>
      </div>
      <div class="mycards" id="comment-list"></div>
    </div>

    <!-- script part -->
    <script src="{{ url_for('static', filename='/js/comment.js') }}" defer></script>
    <script src="{{ url_for('static', filename='/js/navBar.js') }}" defer></script>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  </body>
</html>
