<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <title>니베아 소개페이지 - 방명록</title>
    <meta property="og:title" content="내 사이트의 제목" />
    <meta property="og:description" content="보고 있는 페이지의 내용 요약" />
    <meta property="og:image" content="이미지URL" />
    <!-- detail css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/detail.css') }}" />
    <!-- comment css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/comment.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/nav.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet" />
  </head>
  <body>

        
    <header id="header">
  
      <!-- sideNav start -->
      <div class="l-navbar" id="navbar">
        <nav class="nav">
          <div>
            <div class="nav__brand">
                <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                <a href="/" class="nav__logo">Team.Nivea</a>
            </div>
            <div class="nav__list">
              <a href="/" class="nav__link active">
                <ion-icon name="home-outline"></ion-icon>
                <span class="nav_name">&nbsp;Home</span>
              </a>
              <a href="https://github.com/tuy112/nivea-Team" class="nav__link githublink">
                  <ion-icon name="logo-instagram"></ion-icon>
                  <span class="nav_name">&nbsp;Contact Us</span>
              </a>
              <a href="../comment" class="nav__link">
                  <ion-icon name="logo-octocat"></ion-icon>
                  <span class="nav_name">&nbsp;Cheer UP</span>
              </a>
    
              <a href="../sendEmail" class="nav__link">
                  <ion-icon name="airplane-sharp"></ion-icon>
                  <span class="nav_name">&nbsp;Send Email</span>
              </a>
    
              <a href="../application" class="nav__link">
                  <ion-icon name="heart-outline"></ion-icon>
                  <span class="nav_name">&nbsp;Nivea에 합류하기</span>
              </a>
          </div>
        </nav>
      </div>
    
    </header>

    
    <div class="container" style="width: 80vw; margin: 5rem auto">
      <div class="row row-cols-1 row-cols-lg-2 mb-8 mb-lg-4" style="align-items: center">
        <div class="col mb-4 mb-lg-0" style="width: 300px; margin: auto">
          <img src="{{info[0].image}}" width="300px" alt="..." />
        </div>
        <div class="col" style="width: 400px; margin: auto">
          <div class="input-group">
            <p class="card-text" style="border: solid 6px; border-style: inset;">{{info[0].reason}}</p>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-lg-2 mb-8 mb-lg-4" style="align-items: center">
        <div class="col my-4 my-lg-0">
          <div class="row" style="font-weight: bold; text-align: center">
            <div class="mb-2"><h3>{{info[0].name}}</h3></div>
            <p class="card-text">{{info[0].MBTI}}</p>
            <span style="width: 300px; margin: auto">{{info[0].strength}}</span>
          </div>
        </div>
        <div class="col" style="width: 400px; margin: auto 0; text-align: center">
          <div class="row">
            <div class="col">
              <a href="{{info[0].velog}}" class="tagBtn row">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
                <span>BLOG</span>
              </a>
            </div>
            <div class="col">
              <a class="tagBtn row" href="{{info[0].github}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                  <path
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                </svg>
                <span>GITHUB</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>

      <div class="mypost">
        <div class="input-group">
          <input required id="group" placeholder="-팀명을 입력하세요-" type="text" />
          <input required id="name" placeholder="-이름을 입력하세요-" type="text" min="2" />
        </div>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="comment" style="height: 100px"></textarea>
          <label for="floatingTextarea2">응원의 한마디!🎉</label>
        </div>
        <div class="button_box">
          <button id="comment_save" onclick="save_comment()" type="button" class="btn btn-dark">댓글 남기기📝</button>
        </div>
      </div>
      <div class="mycards" id="comment-list"></div>

    </div>  

    
    <!-- script part -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='/js/detail.js') }}" defer></script>
    <script src="{{ url_for('static', filename='/js/comment.js') }}" defer></script>
    <script src="{{ url_for('static', filename='/js/navBar.js') }}" defer></script>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  </body>
</html>
